.buttonsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.button{
  height: 70px;
  width: 70px;
  margin: 5px;
  font-size: 40px;
  border-radius: 7px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  box-shadow: 2px 3px 10px rgb(17, 17, 17);
  transition: all 0.25s ease;
}
.button:hover{
  transform: scale(1.10);
  box-shadow: 2px 3px 5px rgb(154, 153, 153);
}

