.container{
  text-align: center;
  width: 100%;
  max-width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  margin:  100px auto ;
  background-image: url("./assets/turtleImage.avif");
  background-size: contain;
}

